<a href="https://colab.research.google.com/github/mistrain-Lee/2022-spring-/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [2]:
import pandas as pd 
#pandas는 엑셀파일같은 것이다. 기본적으로 행렬이다. 행이 있고 렬이 있다. 
# 그런 라이브러리가 팬더스이다. 
# 임포트 세가지 정도로 임포트 하는 경우. 
# builting function.

### Loading csv file

In [4]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

# read 해온다. 가지고 온다. 파일이름을 들고 오는 것. 나의 계쩡. 엑셀파일 
# 예제가 들어온다. 
# csv 파일임. 복잡ㅎ다. csv가 뭔가?? comma seperated value. 컴마로 분유리ㅐㅅ다는 것임. 
# 이것을 액셀로도 분류할 수 있다.  
# df로 변수를 지정했다.액셀과 같아 보인다. 
# 마지막 17000줄 * 9 칼럼. 
# 엑셀형태의 데이터를 데이터 프레임이라고 한다. df= data frame

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [5]:
print(df.size); print(df.ndim); print(df.shape)

# df.ndim : 몇차원인가? 2차원이다. 행이 한줄 칼럼이 한줄., 
# df.size : 크기임 17000 * 9 임
# shape : 형태를 말한다.

153000
2
(17000, 9)

In [6]:
df.describe()
# 값을 내준다. 
# basic한 정보를 내준다.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

In [ ]:
df.to_csv('california_housing_train.csv')
# 다시 파일로 바꿀 수 있다는 것. 
#이러한 엑셀의 형태로 한는 것을 그 파일네임을 엑세링이라는 라느 ㅍ로그램에서 사용한다. 
# csv가 훨씬 일반적이다. 파일과 파일간의 입출력을 왔다갔다하는 것을. 각각의 내용들을 
#아예 처음부터 정보를 가지고 쓸수는 없을ㄲㅏ?

### Constructing a DataFrame using dict

In [7]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

# 딕트 안에 5개가 들어가 있다. 각 아이템들은 앞부분의 키와 밸류로 구분한다. 콜론으로 입력 
# 키부분에 - 칼럼의 이름-5개 5개 
# 키는 칼럼이 되고, 벨류는 리스트의 것들의 값이 된다. 
# 종 은 또한 그렇다., 

df = pd.DataFrame(data)
df
# 딕트를 넣어주면 데이터 프레임으로 만들어준다는 것임.일일이 적어주고 만들어줄 수 있다.  
# 딕트 변수를 넣어서 데이터 프레임이라는 함수를 통해 만들어줄 수 있다.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Constructing a DataFrame using pd.Series

In [8]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])
# 미리 만든 것이 아니라. series를 만들어준다. 


df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

# 그 다음에 딕트를 만들어서 만들어준다. 
# 앞선 키는 문자열로 설정되어 있고, 그 키에 해당하는 밸류는 설정되어 있다. 그 밸류를 변수로 하여서

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Changing column names

In [9]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

# 특정정보만 엑세스하는 법을 배웠다. 수천개의 칼럼을  굳이 사용할 필요는 ㅇ벇을 듯. 일부의 뇽을 변경
# 또는 수정을 하는 방법. df 칼럼. 
# 수정할 수 있다. colums 사용시./ species 부분만 수정한다. 칼럼 명이 소문자로 변경된다.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns

In [10]:
# Access one column 
df.loc[:, 'sepal_length']
# 행의 인덱스와 항렬의 인덱스를 넣어준다. 콜론이 들어가면 전부다 된다. 행에 대해서 전부다. 
# 칼럼 인덱스의 경우 'sepal_length' - 그 정보만 가져 온다.
# 앞에는 줄을 가져오고, 뒤에는 칼럼

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [11]:
# Access one column (short-hand)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [12]:
# Access one column (shortest-hand)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [13]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

### Accessing rows

In [14]:
# Access one row 
df.loc[3, :]

# 한 줄만 가지고 오고 싶을 때, 모든 로우에서 가져온다?

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [ ]:
# Access two rows
df.loc[[3, 0], :]

In [15]:
# Access a range of rows
df.loc[2:5, :]

# 앞에는 줄을 뒤에는 칼럼을 가져 온다.

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [17]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

# 5보다 큰경우 가져옿ㄴ다. 이 경우에는? 5보 큳자.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

### Accessing a cell

In [16]:
df.loc[:, 'sepal_length'][4]
# 하나의 셀을 가져 오는 경우. 
# 한 칼럼을 통때로 가져와서 그 중에서 4번째에 해당하는 것을 가지고 온다. 
# 칼럼 억세싱하기. 몇번째 로우에 해당하는지. 하나의 셀도 엑세스 한다.

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

### Adding/Removing new columns

In [18]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [23]:
df['new_column'] = [1, 2, 3, 4, 5]
df
# 리스트를 집어 넣어준다. 새로운 칼럼을 만들어준다.

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [24]:
df = df.drop('new_column', axis=1) # axis=1: column
df
# 칼럼 빼기 drop 함수 new_colums이다. 
# 이떄, axis는 어디서 찾을 지를 말한다. 1은 열축 즉 세로 1열

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Adding/Removing new rows

In [25]:
df.loc[5, :] = '' # 아무것도 없는 블랭크가 있다. 이것을 다번째를 만들고 넣으라는 것이다. 
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [26]:
df = df.drop(5, axis=0) # axis=0: row
df

# axis = 0 은 행축에 있다. 가로열

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa